#skills {
    background: #f2f2f2;
    background: #000026;
    background: #2A3A4B;
		background: #103754;
}

.skillsTitle {
    margin: 0 auto;
    
    h3 {
        color: #FFF;
    }
}

.skillsList {
    padding-bottom: 6%;
    
    article {
        padding: 0 15%;
        padding: 0 10%;
        
        h4 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
            color: #48525c;
            color: #fff;
        }
        
        ul {
            margin: 0;
            padding: 0;
            margin-bottom: 10%;

            
            li {
                margin: 0;
                padding: 0;
                list-style: none;
//                font-size: 1.5rem;
							font-size: 1.35rem;
                line-height: 1.75;
                color: #48525c;
                color: #fff

            }
        }
    }
}
