//.row .row {
//	margin-left: 0;
//	margin-right: 0;
//}

.row {
	margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}

.contentContainer {
	position: relative;
  overflow: hidden;
//	background: #FFF;
  background: #f6f6f6;
}

.fullWidth {
	max-width: 100%;
//	margin-left: 0;
//	margin-right: 0;
}

.small-fullWidth {
	padding: 0;
}

.twoColumnImg {
	overflow: hidden;
}

.originImg {
//	margin-top: 2%;
}

.teamContributions {
	
	span {
		font-weight: 700;
	}
	
	 p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
		}
}

.bw {
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

.sansImgCopy {
	margin-bottom: 5%;
}

.backToTop {
	padding: 1% 0 3% 0;
	text-align: center;
	background: #f6f6f6;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.otherWork {
	div.otherWork {
		height: 5rem;
		border: 1px solid steelblue;
	}
}



.project-CSM .projectInfo:before {
    background-color: #0E4C92;
}
.projectInfo:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    opacity: .9;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

	.otherWork {
		width: 87%;
    margin: 0 auto;
    margin-bottom: 6%;
		padding-top: 8%;
		
		.otherWorkLink {
			border-bottom-width: 0;
    	color: #fff;
//    	display: block;
			width: 100%;
    	display: inline-block;
		}
	
		.linkTypePrevious {
			display: block;
//			margin-right: 5%;
		}
	
		.project-CSM {
		}

// Figure Callout (box on page) styles
//		$figureContainerBgColor: rebeccapurple;
//		$figureCopyDescBgColor: orange;
//		
//		.figureCallout {
//			padding: 4% 8% 1%;
//		}
//			
//		.figureContainer {
//				background: $figureContainerBgColor;
//				background: rebeccapurple;
//			}
//			
//		.figureCopyDesc {
//				background: $figureCopyDescBgColor;
//				padding: 2% 0;
//    		box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.2);
//			}
//		
//			.DAMLibraryBg {
//			}
//		
		figure {
			position: relative;
			border: none;
		}
		
		.figurePrevious {
			margin-bottom: 7%;
		}
		
		.backToWorkBtn {
			background: steelblue;
		}
		
		.backtoWorkLink {
			position: absolute;
			top: 30px;
		}
		
		.otherWorkLinkImg {
			width: 100%;
		}
		
		.otherWorkLinkInfo {
			width: 100%;
  	  height: 100%;
  	  position: absolute;
  	  top: 0;
  	  color: #fff;
  	  margin: 0;
//  	  padding: 20px 30px 0;
  	  text-align: center;
    	z-index: 1;
			    background: rgba(33, 33, 33, .5);
					-webkit-transition: all .7s ease; /* Safari and Chrome */
    			-moz-transition: all .7s ease; /* Firefox */
    			-ms-transition: all .7s ease; /* IE 9 */
    			-o-transition: all .7s ease; /* Opera */
    			transition: all .7s ease;

			&:hover {
			    background: rgba(33, 33, 33, .7);
					-webkit-transition: all .7s ease; /* Safari and Chrome */
    			-moz-transition: all .7s ease; /* Firefox */
    			-ms-transition: all .7s ease; /* IE 9 */
    			-o-transition: all .7s ease; /* Opera */
    			transition: all .7s ease;
			}
		}
		
		.linkTypePrefix {
			display: block;
    	color: #fff;
			font-size: 1.2rem;
    	font-weight: 700;
			margin-top: 19%;
    	font-size: 2rem;
		}

		.otherWorkLinkTitle {
		font-size: .9rem;
			font-weight: 700;
			font-size: 1.5rem;
		}
	}

//// HOME Content

.services {
	padding: 0 3% 0 0;
}

.serviceColumns {
	padding: 0;
}


/////////////////////////////////////////////////////

@media (min-width: 510px) {
	.workTitle {
		padding-left: 2%;
	}
	
	.workSubTitle {
		padding-left: 2%;
	}
	
	.workLead {
		margin: 6% 4% 3.5% 4%;
    font-size: 1.4rem;
        margin: 6% 4% 4% 3%;
    }
	
	.servicesDeliverables {
    padding: 0% 5% 6% 6%;
		
	}
}


  @media (min-width: 770px) {
		
	#contentContainer {
		margin: 3% 4% 0 4%;
	}
		
	.homeContentContainer {
		margin: 0;
	}
		
	.homeNavContainer {
		background: transparent;
	}

		
	#navMenuBtn {
		display: none;
	}
	
	#primaryNav {
//    position: absolute;
//    top: .6%;
//    bottom: 0;
//    left: 0;
//    right: 37px;
//    left: auto;
//    bottom: auto;
//		
		li {
//			display: inline-block;
//			padding: 4.7%;
		
			a {
//				font-size: 1.4rem;
			}
		}
	}
		
	.homeHeroBlock {
		h2 {
			margin-top: 8%;
			font-size: 2.75rem;
		}
		
		h3 {
			br:last-of-type {
				display: none;
			}
		}
	}
		
	.teamContributions {
	
	td {
		width: 50%;
    padding: 2%;
	}
		
	 p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
		}
	}	
		
	.serviceColumns {
		padding: 0 3% 0 0;
	}
		
	.otherWork {
		width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
		padding-top: 5%;

		
		.otherWorkLink {
			border-bottom-width: 0;
    	color: #fff;
//    	display: block;
			width: 47%;
    	display: inline-block;
			background-color: slategray;

		}
	
		.linkTypePrevious {
			display: block;
			margin-right: 5%;
		}
	
		.project-CSM {
		}
		
		figure {
			position: relative;
		}
		
		.figurePrevious {
			margin-bottom: 0;
		}
		
		.otherWorkLinkImg {
			width: 100%;
			
			&::before {
				background: rgba(33, 33, 33, .5);
			}
		}
		
		.otherWorkLinkInfo {
			width: 100%;
  	  height: 100%;
  	  position: absolute;
//  	  top: 32%;
  	  color: #fff;
  	  margin: 0;
  	  padding: 20px 30px 0;
  	  text-align: center;
    	z-index: 1;
		}
//		
		.linkTypePrefix {
//			display: block;
//    	color: #fff;
			font-size: 2rem;
			margin-top: -2%;
//    	font-weight: 700;		
		}
//		
		.otherWorkLinkTitle {
		font-size: 1.5rem;
			font-weight: 700;
		}
		
//		.linkTypePrevious {
//			
//								-webkit-transition: all 1s ease; /* Safari and Chrome */
//    -moz-transition: all 1s ease; /* Firefox */
//    -ms-transition: all 1s ease; /* IE 9 */
//    -o-transition: all 1s ease; /* Opera */
//    transition: all 1s ease;
//			
//			&:hover {
//		
//				.figurePrevious {
//					margin-left: -3%;
//					-webkit-transition: all 11s ease; /* Safari and Chrome */
//    -moz-transition: all 11s ease; /* Firefox */
//    -ms-transition: all 11s ease; /* IE 9 */
//    -o-transition: all 11s ease; /* Opera */
//    transition: all 11s ease;
//					
//				}
//			}
//		
//		}
		
		.figurePrevious {
					-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
					
				}
		
//		.linkTypePrevious:hover {
//
//				.linkTypePrevious > .figurePrevious {
//					margin-left: -2%;
//				}
//			}

		
		.linkTypeNext {
			
			&:hover {
		
				.figureNext {
//					margin-right: -3%;
				}
			}
		
		}
		
	}
}


//	@media (min-width: 1280px) {
//		.row {
//			max-width: 80rem;
//		}
//	}


// 24 Jan 2016

//  @media (min-width: 1280px) {
 @media (min-width: 60em) {
	 
	body {
		background: #f6f6f6;
	}
	 
	section {
		background: transparent;
	}
		
	.contentContainer {
    position: relative;
    overflow: hidden;
    background: #fff;
//    margin: 1% 4% 0 4%;
//		margin: 2% 4% 0 4%;
		///
//		margin: 3% 4% 0 4%;
	}
	 
	.homeContentContainer {
		margin: 0;
	}
	 
	.homeNavContainer {
		background: transparent;
	}
	
	.home span {
		margin-left: 2%;
		top: -19px;
//		    top: 4px;
		top: -26px;
	}
	 
	.introImg {
    height: 371px;
	}
	 
	 
	.homeIntroBlock {
		h2 {
			margin-top: 0;
    	padding-top: 9%;
		}
	}
	 
	.serviceColumns {
    padding: 0 5% 0 0;
	}
		
	.workTitleBlock {
		
		margin-top: 136px;
    padding-left: 10%;
		
		h2 {
//    	font-size: 3.15em;
			text-align: left;
		}
		
		h3 {
			margin-top: 1%;
			padding-bottom: 3%;
//    	font-size: 2.5rem;
			font-weight: 300;
			text-align: left;
		}
	}
	 
	.backgroundCard {
		margin: 0 auto;
    width: 87.5%;
	}
	 
	.workLead {
		font-size: 2rem;
		max-width: 78%;
	}
		
	.projectBackground {
//    width: 82%;
		padding: 0 5%;
	}

	 .originImg {
	 		max-width: 85%;
	 }
	 
	.originImg img {
//		max-width: 100%;
		margin-top: 8%;
	}
	 
	.bodyCopy {
    padding: 3% 0 4% 0;
//    width: 73%;
    width: 100%;
    margin: 0 auto;
		
		h3 {
    	font-size: 1.76em;
		}
	}
	 
	.otherWork {
		width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
		
		.otherWorkLink {
			border-bottom-width: 0;
    	color: #fff;
    	display: block;
		}
	.linkTypePrevious {
		display: block;
		margin-right: 5%;
	}
	.project-CSM {
	}
		figure {
			position: relative;
		}
		
	.otherWorkLinkImg {
		width: 100%;
	}
		
	.otherWorkLinkInfo {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    margin: 0;
    padding: 20px 30px 0;
    text-align: center;
    z-index: 1;
		padding-top: 21%;





	}
//	.linkTypePrefix {
//	display: block;
//    color: #fff;
//	}
	
	}
}

// on large breakpoint
@media screen and (min-width: 64em) {
	
	.servicesDeliverables {
    padding: 1.8% 0% 6% 0%;
	}
	
	.bodyCopy {
		width: 73%;
	}

}


@media screen and (min-width: 70em) {
	.originImg {
//		max-width: 100%;
	}
}

  @media (min-width: 1280px) {
		.workTitleBlock {
		
		margin-top: 136px;
    padding-left: 8%;
		
		h2 {
    	font-size: 3.15em;
			padding-left: 0;
		}
		
		h3 {
			margin-top: 1%;
			padding-bottom: 3%;
			padding-left: 0;
    	font-size: 2.5rem;
		}
	}
		
	}
