//.row .row {
//	margin-left: 0;
//	margin-right: 0;
//}


.row {
	margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}

//.small-12 {
//	-webkit-flex: 0 0 100%;
//  -ms-flex: 0 0 100%;
//  flex: 0 0 100%;
//  max-width: 100%;
//}

.contentContainer {
	position: relative;
  overflow: hidden;
//	background: #FFF;
  background: #f6f6f6;
}

.fullWidth {
	max-width: 100%;
//	margin-left: 0;
//	margin-right: 0;
}

.small-fullWidth {
	padding: 0;
}

.twoColumnImg {
	overflow: hidden;
}





/////////////////////////////////////////////////////
  @media (min-width: 770px) {
	
	
	}


//	@media (min-width: 1280px) {
//		.row {
//			max-width: 80rem;
//		}
//	}