//.row .row {
//	margin-left: 0;
//	margin-right: 0;
//}


.row {
	margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  max-width: 100%;
}

//.small-12 {
//	-webkit-flex: 0 0 100%;
//  -ms-flex: 0 0 100%;
//  flex: 0 0 100%;
//  max-width: 100%;
//}

.contentContainer {
	position: relative;
  overflow: hidden;
//	background: #FFF;
  background: #f6f6f6;
}

.fullWidth {
	max-width: 100%;
//	margin-left: 0;
//	margin-right: 0;
}

.small-fullWidth {
	padding: 0;
}

.twoColumnImg {
	overflow: hidden;
}

.backToTop {
	padding: 1% 0 3% 0;
	text-align: center;
	background: #f6f6f6;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.otherWork {
	div.otherWork {
		height: 5rem;
		border: 1px solid steelblue;
	}
}



.project-CSM .projectInfo:before {
    background-color: #0E4C92;
}
.projectInfo:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    opacity: .9;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}



/////////////////////////////////////////////////////
  @media (min-width: 770px) {
	
	.otherWork {
		width: 81%;
    margin: 0 auto;
    margin-bottom: 7%;
		
		.otherWorkLink {
			border-bottom-width: 0;
    	color: #fff;
    	display: block;
		}
	.linkTypePrevious {
		display: block;
		margin-right: 5%;
	}
	.project-CSM {
	}
		figure {
			position: relative;
		}
		
	.otherWorkLinkImg {
		width: 100%;
	}
		
	.otherWorkLinkInfo {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    margin: 0;
    padding: 20px 30px 0;
    text-align: center;
    z-index: 1;
	}
	.linkTypePrefix {
	display: block;
    color: #fff;
	}
	
	}
	
	}


//	@media (min-width: 1280px) {
//		.row {
//			max-width: 80rem;
//		}
//	}


// 24 Jan 2016

//  @media (min-width: 1280px) {
 @media (min-width: 60em) {
	 
	body {
		background: #f6f6f6;
	}
	 
	section {
		background: transparent;
	}
		
	.contentContainer {
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 1% 4% 0 4%;
	}
	
	.introImg {
    height: 371px;
	}
		
	.workTitleBlock {
		
		margin-top: 136px;
    margin-left: 8%;
		
		h2 {
    	font-size: 3.15em;
			text-align: left;
		}
		
		h3 {
			margin-top: 1%;
			padding-bottom: 3%;
    	font-size: 2.5rem;
			font-weight: 300;
			text-align: left;
		}
	}
	 
	.backgroundCard {
		margin: 0 auto;
    width: 87.5%;
	}
		
	.bodyCopy {
    padding: 3% 0 4% 0;
    width: 73%;
    margin: 0 auto;
		
		h3 {
    	font-size: 1.76em;
		}
	}
	 
	.otherWork {
		width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
		
		.otherWorkLink {
			border-bottom-width: 0;
    	color: #fff;
    	display: block;
		}
	.linkTypePrevious {
		display: block;
		margin-right: 5%;
	}
	.project-CSM {
	}
		figure {
			position: relative;
		}
		
	.otherWorkLinkImg {
		width: 100%;
	}
		
	.otherWorkLinkInfo {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    margin: 0;
    padding: 20px 30px 0;
    text-align: center;
    z-index: 1;
	}
	.linkTypePrefix {
	display: block;
    color: #fff;
	}
	
	}
}
